@import '../global.scss';

.root {
  @include display-flex();
  @include browserify(flex-direction, row);
  @include browserify(align-items, center);
  @include browserify(justify-content, flex-start);

  .success {
    color: $successColor !important;
  }

  .warning {
    color: $alertColor !important;
  }

  .error {
    color: $errorColor !important;
  }
}